<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Flowbite CDN -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <!-- Tailwind CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% if title %}
        <title>{{ title }} - Task Manager</title>
    {% else %}
        <title>Task Manager</title>
    {% endif %}
</head>
<body class="bg-gray-100 min-h-screen">

<nav class="bg-gray-100 shadow-md w-full">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="{{ url_for('task.home')}}" class="flex items-center space-x-3 rtl:space-x-reverse">
          <h1 class="self-center text-2xl text-purple-800 font-bold">Tasm.</h1>
      </a>
      
      <div class="md:block md:w-auto">
        <ul class="font-medium flex p-4 md:p-0 mt-4 md:flex-row md:space-x-8">
        {% if user.is_authenticated %}
        <span class="text-gray-900 mx-3">Hello, {{ user.username.capitalize() }}</span>
        <li>
            <button><a href="{{ url_for('auth.logout') }}" class="focus:outline-none text-black focus:ring-1 focus:ring-purple-300 font-medium rounded-lg  text-purple-800 px-5 py-2.5 mb-2 border-1 border-purple-800 ">Log Out</a></button>
        </li>
        {% else %}
          <li>
            <button style="border: none; outline: none"><a href="{{ url_for('auth.login') }}" class="focus:outline-none text-black focus:ring-1 focus:ring-purple-300 font-medium rounded-lg  text-purple-800 px-5 py-2.5 mb-2 border-1 bg-gray-100 border-purple-800 ">Log In</a></button>
          </li>
          <li>
            <button style="border: none; outline: none"><a href="{{ url_for('auth.register') }}" class="focus:outline-none text-white bg-purple-800 hover:bg-purple-800 focus:ring-1 focus:ring-purple-300 border-2 font-medium rounded-lg text-sm px-5 py-2.5 mb-2">Register</a></button>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>


    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
            {% for category, message in messages %} 
                {% if category =='error' %}
                <div id="alert-2" class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div class="ms-3 text-sm font-medium">
                        {{ message }}
                    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 " data-dismiss-target="#alert-2" aria-label="Close">
                      <span class="sr-only">Close</span>
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                    </button>
                    </div>
                </div>
                
                {% else %}
                <div id="alert-border-3" class="flex justify-between items-center p-4 mb-4 text-green-800 border-t-4 border-green-300 bg-gray-200" role="alert">
                    <svg class="shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <div class="ms-3 text-sm font-medium">
                        {{ message }}
                    </div>
                    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8"  data-dismiss-target="#alert-border-3" aria-label="Close">
                      <span class="sr-only">Dismiss</span>
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                    </button>
                </div>
                {% endif %} 
            {% endfor %} 
        {% endif %} 
    {% endwith %}
    <br>

    {% block content %}{% endblock %}
    
    <!-- Flowbite Js Link -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <!--  -->
    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
    <script>
        showDeltBtn = document.querySelectorAll('.show-delete')
        deltMenu = document.querySelectorAll('.delete-menu');

        deltMenu.forEach(btn =>{
            btn.addEventListener('click', function(){
                const hiddenIcons = this.nextElementSibling;
                if (hiddenIcons) {
                    hiddenIcons.style.display = hiddenIcons.style.display === 'none' ? 'block' : 'none';
                }
            })
        })
        
    </script>
</body>
</html>