<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }} - Task Manager</title>
    {% else %}
        <title>Task Manager</title>
    {% endif %}
</head>
<body>
    <h4>Tasm.</h4>
    {% if user.is_authenticated %}
       
        {{ user.username.capitalize() }}
        <button><a href="{{ url_for('auth.logout') }}">Log Out</a></button> <br><br>
    {% else %}
        <button><a href="{{ url_for('auth.login') }}">Log In</a></button> <br><br>
        <button><a href="{{ url_for('auth.register') }}">Register</a></button> <br><br>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
            {% for category, message in messages %} 
                {% if category =='error' %}

                    {{ message }}

                {% else %}

                    {{ message }}

                {% endif %} 
            {% endfor %} 
        {% endif %} 
    {% endwith %}
    <br>

    {% block content %}{% endblock %}
    
</body>
</html>