{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}
<button><a href="{{ url_for('task.new_task') }}">New task</a></button> <br><br>

<div class="container">

    <form method="GET" nonvalidate >
        <select name="status">
          <option value="" selected disabled>Status</option>
          <option value="all">All</option>
          <option value="True">Completed</option>
          <option value="False">Pending</option>
        </select>
      
        <select name="day">
          <option value="" selected disabled>Day</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
        <button type="submit">Filter</button>
      </form>
      
    <div class="card-container">
        {% if tasks %}
            {% for task in tasks %}
                <div class="card">
                {{ task.title }} <br>
                {{ task.description }} <br>
                {{ task.reminder_time }} <br>
                {{ task.reminder_day }} <br>
                {{ task.is_completed }} <br>
                </div> 
                <button><a href="{{ url_for('task.edit_task', task_id=task.id) }}">Edit</a></button>
                <button><a href="{{ url_for('task.delete_task', task_id=task.id) }}">Delete</a></button>
                <hr>
            {% endfor %}
        {% else %}
            <p>You do not have any task</p>
        {% endif %}
    </div>
</div>



{% endblock %}