{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}
<div class="p-8">
  <div class="flex flex-center align-center justify-between flex-col mb-4">
    <div>
      <button class="focus:outline-none text-white bg-purple-800 hover:bg-purple-800 focus:ring-1 focus:ring-purple-300 border-2 font-medium  rounded-lg text-sm px-5 py-2.5 mb-2"><a href="{{ url_for('task.new_task') }}" >New task</a></button>
    </div>
    <div>
      <form method="GET" nonvalidate >
        <select name="status" class="bg-gray-100 border border-purple-800 text-black text-sm focus:ring-purple-500 focus:border-purple-500 p-2.5">
          <option value="" selected disabled>Status</option>
          <option value="all">All</option>
          <option value="True">Completed</option>
          <option value="False">Pending</option>
        </select>
      
        <select name="day" class="bg-gray-100 border border-purple-800 text-black text-sm focus:ring-purple-500 focus:border-purple-500 p-2.5">
          <option value="" selected disabled>Day</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
        <button type="submit" class="bg-purple-800 text-white cursor-pointer border border-purple-800 text-black text-sm focus:ring-purple-500 focus:border-purple-500 py-2.5 px-6">Filter</button>
      </form>
    </div>
  </div>
  
  <div class="container"> 
      <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-2 md:space-y-0">
          {% if tasks %}
              {% for task in tasks %}
                <div class="block mt-4 max-w-sm p-6 bg-gray-100 border border-purple-700 rounded-lg shadow-sm" style="position: relative; height: 220px; overflow: hidden;">
                  <div class="flex justify-end">
                    <button class="inline-block text-gray-500 rounded-lg text-sm cursor-pointer delete-menu" type="button">
                      <span class="sr-only">Open dropdown</span>
                      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                          <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                      </svg>
                  </button>
                  <div class="z-10 hidden show-delete text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-20" style="position: absolute; right: 10px; top: 45px; display: none;">
                    <ul class="py-2" >
                    <li>
                        <a href="{{ url_for('task.edit_task', task_id=task.id) }}" class="block px-2 py-2 text-sm text-gray-900 hover:bg-gray-100">Edit</a>
                    </li>
                    <li>
                        <a href="{{ url_for('task.delete_task', task_id=task.id) }}" class="block px-2 py-2 text-sm text-red-600 hover:bg-purple-100">Delete</a>
                    </li>
                    </ul>
                </div>
                  </div>
                    <h1 class="text-2xl font-bold tracking-tight text-purple-800">{{ task.title }}</h1>
                    <div style="height: 30%; overflow: hidden;">
                      <p class="font-normal text-gray-900">{{ task.description }}</p>
                    </div>
                    <div class="mt-4 mb-4">
                      <span class="bg-purple-400 text-purple-800 text-sm font-bold py-1.5 px-2 rounded-lg"> 
                        {{ task.reminder_day }} | {{ task.reminder_time }}</span>
                    </div>
                    {% if task.is_completed == True %}
                    <span class="text-green-600 font-medium py-1.5 rounded-lg">Completed</span> <br>
                    {% else %}
                    <span class="text-red-600 font-medium py-1.5 rounded-lg">Pending</span> <br>
                    {% endif %}
                  </div> 

              {% endfor %}
              {% else %}
              <p class="text-center align-center text-red-500 p-8">You do not have any task.</p>
              {% endif %}
      </div>
  </div>
  <script>
    window.onload = function(){
      requestNotificationPermission()
    }
  </script>
</div>
{% endblock %}