{% extends 'base.html' %}

{% block content %}
<div class="mt-10">
    <form method="post" class="max-w-sm mx-auto border-1 border-purple-500 rounded-lg p-4"> 
        {{ form.hidden_tag()}}
        <div class="mb-5">
            {{ form.email.label(class="block mb-2 text-sm font-medium text-black") }}
            {{ form.email(class="bg-gray-100 border-1 border-purple-800 text-black text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5") }}
            {% for error in form.email.errors %}
                <span class="text-sm text-red-800">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-5">
            {{ form.password.label(class="block mb-2 text-sm font-medium text-black") }}
            {{ form.password(class="bg-gray-100 border-1 border-purple-800 text-black text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5") }}
            {% for error in form.password.errors %}
                <span class="text-sm text-red-800">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-5">
            {{ form.submit(class="text-white bg-purple-800 hover:bg-purple-700 focus:ring-2 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center cursor-pointer") }}
        </div>
        <div>
            <span class="text-black text-sm ">New user? <a href="{{ url_for('auth.register')}}" class="text-purple-800">Register here.</a></span>
        </div>
    </form>

</div>
{% endblock %}